$primary-color      : #ff5520;
$background-color   : #f4f4f4;
$text-color         : #898989;
$black-color        : #4a4a4a;
$secondary-color    : #f73b00;
$white              : #fff;
$bolder             : #003481;
$bolder-top         : #295da9;
$box-red            : #f75658;
$footer-gray        : #efefef;
$breadcrump-bg      : #efefef;
$breadcrump-border  : #3e3e3e;
$rating-color       : #ffc120;
$url-color          : #007bff;
$text-color-light   : #9b9b9b;
$border-regular     : #dfdfdf;
$line-border        : #ececec;
$price-sale-color   : #ff3425;
$color-description  : #6d6d6d;
$quantity-hover     : #efefef;